@charset "UTF-8";

#nav{
	position:relative;
	margin-top:2%;
	
}
#text{
	position:relative;
	margin-left:5%;
	margin-top:10%;
	
}
#pic{
	position:relative;
	width:300px;
	height:500px;
	
}
#title{
	position:absolute;
	margin-top:2%;
	left:15%;
	
}
#pic2{
	position:relative;
	width:250px;
	height:350px;
	
	
}