#bookcase{
	position: absolute;
	margin-left:-5%;
	width: 110%;
	height:80%;
	opacity:.8;
	z-index:-1;

}

#title{
	position:relative;
	margin-top:15%;
	font-size:60px;
	font-weight: bold;
	
}
#searchbutton{
	position:relative;
	margin-left:5%;
	margin-top:5%;
	margin-bottom:5%;
	
}


#booksavail{
	position:relative;
	margin-top:55%;
	margin-left:5%
}
#copies{
	position:relative;
	margin-top:2%;
	margin-left:5%;
}
#nav{
	position:relative;
	margin-top:2%;
}
