



.books-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/bookcase.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
	padding-left: 400px;
	margin-left: -400px;

	padding-right: 400px;
	margin-right: -400px;
}


.bookbanner {
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 25%;
    height: auto;
}

.bookbannertext{
    font-family: 'Archivo Black', sans-serif;
}

.booksmargins {
	margin-left: 150px;
	margin-right: 150px;
}



 
/* 

#bookcase{
	position: absolute;
	margin-left:-5%;
	width: 110%;
	height:80%;
	opacity:.8;
	z-index:-1;
}

#title{
	position:relative;
	margin-top:15%;
	font-size:60px;
	font-weight: bold;
	
}
#searchbutton{
	position:relative;
	margin-left:5%;
	margin-top:5%;
	margin-bottom:5%;
	
}


#booksavail{
	position:relative;
	margin-top:55%;
	margin-left:5%
}
#copies{
	position:relative;
	margin-top:2%;
	margin-left:5%;
}
#nav{
	position:relative;
	margin-top:2%;
}

 */