
 
.book-image {
    background-image: url("../media/openbook.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    /* 
    padding-top: 90%; (img-height / img-width * container-width)
                (853 / 1280 * 100)
      */           
}



/* 
.book-image {
    background-image:  url("../media/openbook.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:100%;

}

 */

